<div class="modal detail-model show" id="myModal2" style="display: block; padding-left: 17px;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"> Lorum Ipsum </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body detail-modal-body">
                <div class="detail-body-inner float-left w-100">

                    <form #delarCustomerForm="ngForm" (ngSubmit)="onSubmit(delarCustomerForm)" novalidate>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Customer Code</label>
                            <div class="col-sm-9">
                                <input type="text"  name="customerCode" [(ngModel)]="customerCode"
                                    class="form-control" placeholder="">
                            </div>
                        </div>
                        <div *ngIf="!customerCode?.valid && (customerCode?.dirty || customerCode?.touched) ">
                            <div *ngIf="customerCode.errors.required" class="help-block">
                                Field is Mandatory.
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" [(ngModel)]="name" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Contact Person</label>
                            <div class="col-sm-9">
                                <input type="text" [(ngModel)]="contactPerson" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Contacts Number</label>
                            <div class="col-sm-9">
                                <input type="text" [(ngModel)]="contactNumber" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" [(ngModel)]="email" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address 1</label>
                            <div class="col-sm-9">
                                <input type="text" [(ngModel)]="addressID" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address 2</label>
                            <div class="col-sm-9">
                                <input type="text" [(ngModel)]="addressID1" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Street</label>
                            <div class="col-sm-9">
                                <input type="text" [(ngModel)]="street" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Block</label>
                            <div class="col-sm-9">
                                <input type="text" [(ngModel)]="block" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" [(ngModel)]="city" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Zip</label>
                            <div class="col-sm-9">
                                <input type="text" [(ngModel)]="zipCode" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                                <input type="text" [(ngModel)]="country" class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" [disabled]="!delarCustomerForm.valid">Save</button>
                            <button type="button" class="btn btn-primary">New</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal-backdrop show"></div>