<!-- loader start -->
<!-- <div class="loader-sm" *ngIf="showLoader">
    <svg viewBox="0 0 218.2 218.8" class="loader2">
        <use xlink:href="#loader2"></use>
    </svg>
</div> -->
<!-- loader end -->

<!-- loader start for lookup -->
<div class="loader-sm" *ngIf="showLookupLoader">
    <svg viewBox="0 0 218.2 218.8" class="loader2">
        <use xlink:href="#loader2"></use>
    </svg>
</div>
<!-- loader end for lookup -->




<div class="layout-mode" fxFlex fxLayout="column">
    <div class="page-header">
        <h4>{{language.Custom_CW}}</h4>
    </div>
    
    <div class="card" fxFlex>
        <div class="card-body pb-2" fxFlex fxLayout="column">
            <div class="main-portion">
                <div class="w-100 float-left h-100">

                    <div class="form-group row align-items-center">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="col-sm-4 col-form-label required" for="customer_doc"> Customer
                                    Code</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input [disabled]="isCustomer" type="text" ngValue=""
                                            class="form-control form-control-sm" (change)="onCustomerChange('')"
                                            name="customer" id="customer" placeholder="{{language.customer}}"
                                            [(ngModel)]="customer_code" #customer>
                                        <div class="input-group-append">
                                            <span class="btn btn-sm btn-primary cursor-pointer btn-icon"
                                                id="basic-addon2" (click)="openCustomerLookUp()">
                                                <svg viewBox="0 -96 512 512" class="icon m-0">
                                                    <use xlink:href="#menu"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="col-sm-4 col-form-label"
                                    for="customer_doc">{{language.customer_name}}</label>
                                <div class="col-sm-8">
                                    <input type="text" ngValue="" readonly class="form-control form-control-sm"
                                        name="customer_name" disabled="true" id="customer_name"
                                        placeholder="{{language.name}}" [(ngModel)]="customer_name" #customername>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row align-items-center">
                                <label class="col-sm-4 col-form-label"
                                    for="ship_to_address">{{language.ship_to_address}}</label>
                                <div class="col-sm-8">
                                    <textarea type="text" rows="3" readonly ngValue=""
                                        class="form-control form-control-sm" name="ship_to_address" id="ship_to_address"
                                        placeholder="{{language.ship_to_address}}" [(ngModel)]="ship_to_address"
                                        #shipto></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row align-items-center">
                                <label class="col-sm-4col-form-label"
                                    for="bill_to_address">{{language.bill_to_address}}</label>
                                <div class="col-sm-8">
                                    <textarea type="text" rows="3" readonly ngValue=""
                                        class="form-control form-control-sm" name="bill_to_address" id="bill_to_address"
                                        placeholder="{{language.bill_to_address}}" [(ngModel)]="bill_to_address"
                                        #billto></textarea>
                                </div>
                            </div>
                        </div>


                    </div>

                    <kendo-grid
                    [kendoGridBinding]="gridData"
                    [pageSize]="18"
                    [sortable]="true"
                    [pageable]="true"
                    [ngStyle]="{'height':'100%', 'max-width':'100%'}"
                    [filterable]="true"
                  >
                   
                   
                    <kendo-grid-column field="OPTM_ITEM_CODE" [width]="120" title="Item Code">
                      <ng-template kendoGridFilterCellTemplate let-filter>
                        <my-dropdown-filter
                          [filter]="filter"
                          [data]="distinctCategories"
                          textField="OPTM_ITEM_CODE"
                          valueField="OPTM_ITEM_CODE"
                        >
                        </my-dropdown-filter>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="OPTM_ITEMDESC" [width]="170" title="Item Description">
                        <ng-template kendoGridFilterCellTemplate let-filter>
                          <my-dropdown-filter
                            [filter]="filter"
                            [data]="distinctCategories"
                            textField="OPTM_ITEMDESC"
                            valueField="OPTM_ITEMDESC"
                          >
                          </my-dropdown-filter>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="OPTM_DEL_LUMENUS" [width]="120" title="DELIVERED LUMENS">
                        <ng-template kendoGridFilterCellTemplate let-filter>
                          <my-dropdown-filter
                            [filter]="filter"
                            [data]="distinctCategories"
                            textField="OPTM_DEL_LUMENUS"
                            valueField="OPTM_DEL_LUMENUS"
                          >
                          </my-dropdown-filter>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="OPTM_SYSTEM_WATTS" [width]="100" title="System Watts">
                        <ng-template kendoGridFilterCellTemplate let-filter>
                          <my-dropdown-filter
                            [filter]="filter"
                            [data]="distinctCategories"
                            textField="OPTM_SYSTEM_WATTS"
                            valueField="OPTM_SYSTEM_WATTS"
                          >
                          </my-dropdown-filter>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="OPTM_LUM_EFFICASY" [width]="100" title="LUMINAIRE EFFICIENCY">
                        <ng-template kendoGridFilterCellTemplate let-filter>
                          <my-dropdown-filter
                            [filter]="filter"
                            [data]="distinctCategories"
                            textField="OPTM_LUM_EFFICASY"
                            valueField="OPTM_LUM_EFFICASY"
                          >
                          </my-dropdown-filter>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="OPTM_TEMP" [width]="140" title="AMBIENT TEMP.">
                        <ng-template kendoGridFilterCellTemplate let-filter>
                          <my-dropdown-filter
                            [filter]="filter"
                            [data]="distinctCategories"
                            textField="OPTM_TEMP"
                            valueField="OPTM_TEMP"
                          >
                          </my-dropdown-filter>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="OPTM_EQVILANT" [width]="140" title="FLUORESCENT EQUIVALENT">
                        <ng-template kendoGridFilterCellTemplate let-filter>
                          <my-dropdown-filter
                            [filter]="filter"
                            [data]="distinctCategories"
                            textField="OPTM_EQVILANT"
                            valueField="OPTM_EQVILANT"
                          >
                          </my-dropdown-filter>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="OPTM_IES" [width]="80" title="IES FILES">
                        <ng-template kendoGridFilterCellTemplate let-filter>
                          <my-dropdown-filter
                            [filter]="filter"
                            [data]="distinctCategories"
                            textField="OPTM_IES"
                            valueField="OPTM_IES"
                          >
                          </my-dropdown-filter>
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="OPTM_QUANTITY" title="Quantity" filter="text" [width]="80"
                      [minResizableWidth]="100" [filterable]="false">
                      <ng-template kendoGridCellTemplate let-dataItem>
                          <input type="text" [disabled]="false" class="form-control  form-control-sm"
                              #OPTM_QUANTITY value={{dataItem.OPTM_QUANTITY}}
                              (change)="onChangeQuantity(dataItem.rowindex,OPTM_QUANTITY.value)" />
                      </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="OPTM_Price" title="Price" filter="text" [width]="80"
                      [minResizableWidth]="145" [filterable]="false">
                      <ng-template kendoGridCellTemplate let-dataItem>
                          <input type="text" [disabled]="false" class="form-control  form-control-sm"
                              #OPTM_Price value={{dataItem.OPTM_Price}}
                              (change)="onChangePrice(dataItem.rowindex,OPTM_Price.value)" />
                      </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="TotalPrice" title="Total Price" filter="text" [width]="80"
                      [minResizableWidth]="100" [filterable]="false">
                      <ng-template kendoGridCellTemplate let-dataItem>
                          <input type="text" [disabled]="true" class="form-control  form-control-sm"
                              #TotalPrice value={{dataItem.TotalPrice}} />
                      </ng-template>
                  </kendo-grid-column>
                 
                  </kendo-grid>
                  
                   



                  
                </div>
            </div>
            <div class="sticky-bottom-toolbar d-flex align-items-center justify-content-end border-top pt-2">
                <button type="button" (click)="resetGrid()" class="btn btn-sm btn-sm btn-secondary with-icon">
                    {{language.Reset}}</button>
                &nbsp;&nbsp;
                <button type="button" (click)="OpenPreviewlookUp()" class="mr-10 btn btn-sm btn-primary">
                    {{language.Preview}}
                </button>
                &nbsp;&nbsp;
                <button type="button" (click)="onSaveClick()"
                    class="btn btn-sm btn-success">{{language.Create_Order}}</button>
            </div>
        </div>
    </div>
</div>

<app-custom-dialogs *ngIf="show_dialog" [dialogParams]="dialog_params" (userSelectionValue)="get_dialog_value($event)">
</app-custom-dialogs>

<span [hidden]="showLookupLoader">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' [selectedImage]="selectedImage"
        (lookupvalue)="getLookupValue($event)" (lookupvalues)="getLookupValues($event)"></app-lookup>
</span>