// @import "./../assets/scss/themes/default";
:host{
    display: flex;
    flex-direction: row;
    flex:0 0 100%;
}
.welcome-page{
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
}
.welcome-innner{
    background: url("~src/assets/images/auth/bg.jpg") no-repeat;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size:cover; 
    padding:20px;   
    box-shadow: 0 1px 10px 0 rgba(69, 90, 100, 0.08);
}

.app-detail{
    width: 100%;
    max-width: 370px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 25px 40px 20px 40px;
    margin-top: 15px;
    font-size: 9px;
    ::ng-deep{
        & p{
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        & small{
            font-size: 12px
        }
        & svg.logo-svg {
            width: auto;
            height: 120px;
            max-width: 100%;
        }
    }
}