<!-- loader start for lookup -->
<div class="loader-sm" *ngIf="showLookupLoader">
    <svg viewBox="0 0 218.2 218.8" class="loader2">
        <use xlink:href="#loader2"></use>
    </svg>
</div>
<!-- loader end for lookup -->

<div class="modal detail-model show" id="myModal1" style="display: block; padding-left: 17px;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Address</h4>
                <button type="button" class="close" (click)="onCancle()">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body detail-modal-body">
                <div class="detail-body-inner float-left w-100">

                    <form #addressForm="ngForm" name="addressForm" (ngSubmit)="onSubmit(addressForm)" novalidate>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address ID</label>
                            <div class="col-sm-9">
                                <input type="text" name="AddressID" [(ngModel)]="addressID" #AddressID="ngModel" class="form-control"
                                    placeholder="" required>
                                <div *ngIf="!AddressID?.valid && (AddressID?.dirty || AddressID?.touched) ">
                                    <div *ngIf="AddressID.errors.required" class="help-block">
                                        * Field is Mandatory.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address Name 2</label>
                            <div class="col-sm-9">
                                <input type="text" name="AddressID1" [(ngModel)]="addressID1" #AddressID1="ngModel"
                                    class="form-control" placeholder="" required>
                                <div *ngIf="!AddressID1?.valid && (AddressID1?.dirty || AddressID1?.touched) ">
                                    <div *ngIf="AddressID1.errors.required" class="help-block">
                                        * Field is Mandatory.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address Name 3</label>
                            <div class="col-sm-9">
                                <input type="text" name="AddressID2" [(ngModel)]="addressID2" #AddressID2="ngModel"
                                    class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Street / PO Box</label>
                            <div class="col-sm-9">
                                <input type="text" name="poBox" [(ngModel)]="street" #poBox="ngModel" class="form-control"
                                    placeholder="" required>
                                <div *ngIf="!AddressID1?.valid && (AddressID1?.dirty || AddressID1?.touched) ">
                                    <div *ngIf="AddressID1.errors.required" class="help-block">
                                        * Field is Mandatory.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Block</label>
                            <div class="col-sm-9">
                                <input type="text" name="blockAddress" [(ngModel)]="block" #blockAddress="ngModel"
                                    class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" name="City" [(ngModel)]="city" #City="ngModel" class="form-control"
                                    placeholder="" required>
                                <div *ngIf="!City?.valid && (City?.dirty || City?.touched) ">
                                    <div *ngIf="City.errors.required" class="help-block">
                                        * Field is Mandatory.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Zip Code</label>
                            <div class="col-sm-9">
                                <input type="text" name="zip" [(ngModel)]="zipCode" #zip="ngModel" class="form-control"
                                    placeholder="" required>
                                <div *ngIf="!zip?.valid && (zip?.dirty || zip?.touched) ">
                                    <div *ngIf="zip.errors.required" class="help-block">
                                        * Field is Mandatory.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="form-group row">
                            <label class="col-sm-3 col-form-label">County</label>
                            <div class="col-sm-9">
                                <input type="text"  name = ""[(ngModel)]="county" class="form-control" placeholder="">
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" name="State" [(ngModel)]="state" class="form-control" #State="ngModel"
                                    placeholder="" required>
                                <div *ngIf="!customerCode?.valid && (customerCode?.dirty || customerCode?.touched) ">
                                    <div *ngIf="customerCode.errors.required" class="help-block">
                                        * Field is Mandatory.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                                <input type="text" name="cntry" [(ngModel)]="country" #cntry="ngModel" class="form-control"
                                    placeholder="" required>
                                <div *ngIf="!cntry?.valid && (cntry?.dirty || cntry?.touched) ">
                                    <div *ngIf="cntry.errors.required" class="help-block">
                                        * Field is Mandatory.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tax Code</label>
                            <div class="col-sm-9">
                                <input type="text" name="tax" [(ngModel)]="taxCode" #tax="ngModel" class="form-control"
                                    placeholder="" required>
                                <div *ngIf="!tax?.valid && (tax?.dirty || tax?.touched) ">
                                    <div *ngIf="tax.errors.required" class="help-block">
                                        * Field is Mandatory.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Street No.</label>
                            <div class="col-sm-9">
                                <input type="text" name="stno" [(ngModel)]="streetNo" #stno="ngModel" class="form-control"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" [disabled]="!addressForm.valid">Save</button>
                            <button type="button" class="btn btn-secondary" (click)="onCancle()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop show"></div>