<!-- loader start -->
<div class="loader-sm" *ngIf="showLoader">
    <svg viewBox="0 0 218.2 218.8" class="loader2">
        <use xlink:href="#loader2"></use>
    </svg>
</div>
<!-- loader end -->

<!-- loader start for lookup -->
<div class="loader-sm" *ngIf="showLookupLoader">
    <svg viewBox="0 0 218.2 218.8" class="loader2">
        <use xlink:href="#loader2"></use>
    </svg>
</div>
<!-- loader end for lookup -->

<div class="layout-mode" fxFlex fxLayout="column">
    <div class="page-header">
        <h4>{{pageTitle}}</h4>
    </div>
    <div class="card" fxFlex>
        <div class="card-body pb-2" fxFlex fxLayout="column">
            <form name="configuration-needAssesment" class="form-horizontal" fxFlex="0 1 100%" fxLayout="column">
                <div class="main-portion">
                        <div class="form-group row clearfix">
                                <label class="k-label col-sm-4 col-form-label">{{language.ConfigAttribute}}
                                </label>
                                <div class="col-sm-6">
                                    <input type="checkbox" name="applyAttributeMaster" kendoCheckBox [(ngModel)]="applyAttributeMaster" />
                                </div>
                            </div>
                    <div class="form-group row clearfix">
                        <label class="k-label col-sm-4 col-form-label">{{language.ConfigAssesment}}
                        </label>
                        <div class="col-sm-6">
                            <input type="checkbox" name="applyNeedAssesment" kendoCheckBox [(ngModel)]="applyNeedAssesment" />
                        </div>
                    </div>
                    <div [style.display]="applyNeedAssesment ? 'block' : 'none'">
                        <div class="form-group row clearfix">
                            <label class="k-label col-sm-4 col-form-label">{{language.ConfigUserApply}}
                            </label>
                            <div class="col-sm-6">
                                <input type="checkbox" name="customerWiseAssesment" kendoCheckBox [(ngModel)]="customerWiseAssesment" />
                            </div>
                        </div>
                    </div>
                    <div [style.display]="applyNeedAssesment ? 'block' : 'none'">
                        <div class="form-group row clearfix">
                            <label class="col-sm-4 col-form-label" for="featureItemCode">
                                <div class="">
                                    <span>{{language.ConfigDefaultTemplate}}</span>
                                    <a class="cursor-pointer ml-2" (click)="navigateURL()">
                                        <svg viewBox="0 0 32 32" class="icon icon-dark">
                                            <use xlink:href="#circleRightArrow"></use>
                                        </svg>
                                    </a>
                                </div>
                            </label>
                            <input type="hidden" class="form-control  form-control-sm" name="defaultAssesmentTemplate"
                                [(ngModel)]="defaultAssesmentTemplate">
                            <div class="col-sm-3 input-group">
                                <input type="text" class="form-control  form-control-sm" name="OPTM_DEFAULT_TEMPLATE"
                                    [(ngModel)]="OPTM_DEFAULT_TEMPLATE" (change)="onCheckDefaultTemplate()">
                                <div class="input-group-append">
                                    <span class="btn btn-sm btn-primary cursor-pointer btn-icon" (click)="getListDefaultNeedAssementTemplate()">
                                        <svg class="icon m-0" viewBox="0 -96 512 512">
                                            <use xlink:href="#menu"></use>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sticky-bottom-toolbar d-flex align-items-center justify-content-end border-top pt-2">
                    <div class="mr-auto d-flex align-items-center flex-wrap">
                        <button type="button" (click)="onSaveClick('N')" class="btn btn-sm btn-success with-icon mr-2">
                            <svg viewBox="0 0 512 512" class="icon">
                                <use xlink:href="#saveDisk"></use>
                            </svg> Save
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary with-icon" (click)="onCancel()">
                            <svg viewBox="0 0 512 512" class="icon">
                                <use xlink:href="#associate"></use>
                            </svg> Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<app-custom-dialogs *ngIf="show_dialog" [dialogParams]="dialog_params" (userSelectionValue)="get_dialog_value($event)"></app-custom-dialogs>

<span [hidden]="showLookupLoader">
    <app-lookup [lookupfor]='lookupfor' [serviceData]='serviceData' (lookupvalue)="getLookupValue($event)"
        [selectedImage]="selectedImage"></app-lookup>
</span>