@import "../variables";

$primary-text-color: $gray-900;
$content-bg: #f2f8f9 !default;
$siderbar-link-active-bg: $content-bg;
$primary-gradiant : linear-gradient(120deg,#00e4d0,#00b3ff) !default;
$blue-gradiant   : linear-gradient(120deg,#45cafc,#303f9f) !default;
$purple-gradient : linear-gradient(120deg,#ff6ec4,#7873f5) !default;
$aqua-gradient   : linear-gradient(120deg,#2096ff,#05ffa3) !default;
$peach-gradient  : linear-gradient(120deg,#ffd86f,#fc6262) !default;
